/* Write your CSS code here */
.header-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list1 {
  font-size: large;
  font-weight: bolder;
  font-family: 'Roboto';
  padding: 10px;
}
